* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

#principal {
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/fundo_principal.png');
    background-size: 100% 100%;
    overflow: hidden;
    display: flex;
}

.containerPrincipal {
    width: 50%;
    height: 100%;
}

.containerPrincipal:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}


#img-principal {
    width: 32vw;
}

.subContainerLeftPrincipal {
    height: 50%;
    width: 100%;
}

.subContainerLeftPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subContainerLeftPrincipal:nth-child(2) {
    flex-direction: column;
}

#containerNome {
    height: 85%;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 8vw;
}

#h1Nome {
    font-size: 12.5vw;
    color: #922c40;
    line-height: 6vw;
}

#h2Nome {
    font-size: 7.2vw;
    color: #dc9750;
    margin-left: 13.8vw;
}

#spanDescricao {
    text-align: center;
    font-size: 1.45vw;
}

#btnComecar, #btnConverter, #btnMultiplicar, #btnDividir, #btnSomar, #btnSubtrair {
    margin-top: 3vw;
    border: none;
    background: #922c40;
    color: #fff;
    width: 17vw;
    height: 3vw;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1.5vw;
    transition: 1s;
}

#btnComecar:hover, #btnConverter:hover, #btnMultiplicar:hover, #btnDividir:hover, #btnSomar:hover, #btnSubtrair:hover {
    transition: transform 0.10s ease;
    background: #641b2a;
    border: 1px solid #000;
}

#btnComecar:active, #btnConverter:active, #btnMultiplicar:active, #btnDividir:active, #btnSomar:active, #btnSubtrair:active {
    transform: scale(0.95);
    background: #c48443;
    border: 1px solid #000;
}

#conteudo {
    height: 100vh;
    width: 100%;
    background-image: url('../assets/fundo_conteudo.png');
    background-size: 100% 100%;
    overflow: hidden;
    display: flex;
}

.containerMain {
    height: 100%;
}

.containerMain:nth-child(1) {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-conteudo {
    width: 32vw;
}

.containerMain:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

.containerMain:nth-child(3) {

    width: 10%;
}

.h2-text {
    margin-bottom: 10%;
    font-size: 3.5vw;
    text-align: center;
    color: #922c40;
    font-weight: bold;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#container-selectConverter {
    height: 22vh;
}

.containerSelect {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 3%;
}

.subContainer-select {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    font-size: 1.35vw;
}

.selectBase {
    margin-left: 2vw;
    height: 3vw;
    border: 1px solid #000;
    background: #ecc093;
    border-radius: 10px;
    font-size: 1.15vw;
}

#subContainer-InputConverter {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#container-InputConverter {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.Input-Num {
    width: 100%;
    height: 6.5vh;
    background: #ecc093;
    border-radius: 10px;
    border: 1px solid #000;
    color: #000;
    padding-left: 0.6vw;
    font-size: 1.2vw;
}

.Resultado {
    margin-top: 3vw;
    text-align: center;
}

#btnConverter, #btnMultiplicar {
    margin-top: 4vw;
    font-size: 1.3vw;
}

#container-selectMultiplicar {
    height: 10vh;
}

.btnMenu {
    border: 1px solid #000;
    margin: 0.5vw;
    width: 5vw;
    height: 4.5vw;
    border-radius: 25px;
    background: #922c40;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnMenu:hover {
    background: #6d202f;
}

.imgMenu {
    width: 5vw;
}