* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

#principal {
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/fundo_principal.png');
    background-size: 100% 100%;
    overflow: hidden;
    display: flex;
}

.containerPrincipal {
    width: 50%;
    height: 100%;
}

.containerPrincipal:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}


#img-principal {
    width: 32vw;
}

.subContainerLeftPrincipal {
    height: 50%;
    width: 100%;
}

.subContainerLeftPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subContainerLeftPrincipal:nth-child(2) {
    flex-direction: column;
}

#containerNome {
    height: 85%;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 8vw;
}

#h1Nome {
    font-size: 12.5vw;
    color: #922c40;
    line-height: 6vw;
}

#h2Nome {
    font-size: 7.2vw;
    color: #dc9750;
    margin-left: 13.8vw;
}

#spanDescricao {
    text-align: center;
    font-size: 1.45vw;
}

#btnComecar {
    margin-top: 3vw;
    border: none;
    background: #922c40;
    color: #fff;
    width: 17vw;
    height: 3vw;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1.5vw;
    transition: 1s;
}

#btnComecar:hover {
    transition: transform 0.10s ease;
    background: #641b2a;
    border: 1px solid #000;
}

#btnComecar:active {
    transform: scale(0.95);
    background: #c48443;
    border: 1px solid #000;
}